{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Edit "{{ client_request['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">

        <label for="title">Title</label>
        <input name="title" id="title" value="{{ request.form['title']  or client_request['title'] }}" required>
        <label for="description">Description</label>
        <textarea required name="description"
                  id="description">{{ request.form['description'] or client_request['description'] }} </textarea>

        <label for="client_id">Clients</label>

        <select required title="available clients" name="client_id" id="client_id">
            {% for client in clients %}
                <option {% if client_request['client_id'] == client.id %}selected="selected"
                        {% endif %}value={{ client.id }}>{{ client.name }} {{ request.form['client_id'] }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="product_id">Products</label>
        <select required title="available products" name="product_id" id="product_id">
            {% for product in products %}
                <option {% if client_request['product_id'] == product.id %}selected="selected"
                        {% endif %}value={{ product.id }}>{{ product.name }} {{ request.form['product_id'] }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="date">Targeted Date</label>
        <input type="date" id="date" name="targeted_date"
               value={{ request.form['targeted_date'] or client_request['targeted_date'].strftime('%Y-%m-%d') }}
                       min="2018-01-01" max="2018-12-31" required/>
        <br>
        <input type="submit" value="Save">
    </form>
    <hr>
    <form action="{{ url_for('request.delete', req_id=client_request.id) }}" method="post">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>
{% endblock %}